@media(max-width: 670px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header_logo {
        border-bottom: 6px solid black;
        border-radius: 5px;
    }

    .site-header__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-title {
        font-size: 30px;
    }

    .top-subtitle {
        font-size: 20px;
    }

    .nav__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .course_section_container {
        width: 80%;
    }

    .about-container {
        width: 80%;
    }

    .img_section {
        font-size: 12px;
    }

    .img_section_text {
        width: 70%;
        z-index: 10;
    }

    .img_section_text div {
        margin: 20% 0%;
    }

    .img_section_img {
        width: 100%;
        position: absolute;
        opacity: 0.3;
    }

    .news_contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 14px;
    }

    .news_content {
        display: flex;
        flex-direction: row;
        width: 100%;

    }

    .news_content img {
        height: 100px;
        object-fit: cover;
        margin: 5%;
    }

    .news_content_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 5%;
    }

    .contact_explain {
        width: 80%;
    }

    .contact_form textarea {
        width: 300px;
        height: 200px;
    }

    .contact_input {
        height: 36px;
        width: 300px;
    }
}